Summary
Your task is to build an application that supports the requirements outlined below. Outside of the requirements outlined, as well as any language limitations specifi ed by the technical implementation notes below and/or by the hiring manager(s), the application is your own design from a technical perspective.
This is your opportunity to show us what you know! Have fun, explore new ideas, and as noted in the Questions section below, please let us know if you have any questions regarding the requirements!
Requirements
Requirement #1: Store a Purchase Transaction
Your application must be able to accept and store (i.e., persist) a purchase transaction with a description, transaction date, and a purchase amount in United States dollars. When the transaction is stored, it will be assigned a unique identifi er.
Field requirements
● Description: must not exceed 50 characters
● Transaction date: must be a valid date format
● Purchase amount: must be a valid positive amount rounded to the nearest cent
● Unique identifi er: must uniquely identify the purchase
Requirement #2: Retrieve a Purchase Transaction in a Specifi ed Country’s Currency
Based upon purchase transactions previously submitted and stored, your application must provide a way to retrieve the stored purchase transactions converted to currencies supported by the Treasury Reporting Rates of Exchange API based upon the exchange rate active for the date of the purchase.
https://fi scaldata.treasury.gov/datasets/treasury-reporting-rates-exchange/treasury-reporting-rates-of-exchange
The retrieved purchase should include the identifi er, the description, the transaction date, the original US dollar purchase amount, the exchange rate used, and the converted amount based upon the specifi ed currency’s exchange rate for the date of the purchase.